@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

body {
  color: white;
  background-color: #f2ebe0;
  background-image: url("../wp5978594.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.fadeIn {
  animation: fly 2s ease-out;
}

@keyframes fly {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.language-container {
  display: flex;
  gap: 20px;
}

.textbox-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 800px;
}

.textbox-container > textarea,
.language-selector {
  width: 50%;
}

.language-selector > select {
  width: 150px;
}

.progress-container {
  position: relative;
  font-size: 14px;
  color: white;
  background-color: #e9ecef;
  border: solid 1px;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.progress-bar {
  padding: 0 4px;
  z-index: 0;
  top: 0;
  width: 1%;
  height: 100%;
  overflow: hidden;
  background-color: #007bff;
  white-space: nowrap;
}

.search-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

#search {
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  font-size: 19px;
  font-family: "Jerseyv";
  margin-bottom: 20px;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

#vibe {
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  font-size: 19px;
  font-family: "Jerseyv";
  margin-bottom: 20px;
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.progress-text {
  z-index: 2;
}

.selector-container {
  display: flex;
  gap: 20px;
}

.progress-bars-container {
  padding: 8px;
  height: 140px;
}

.container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: #000000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: #000000 10px 10px 10px;
}

.hidden {
  display: none;
}

.close {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #ffffff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

input[type="submit"] {
  background-color: #a5aee1;
  font-weight: bold;
  border-radius: 2px;
  border-width: 0px;
  border-color: #a5aee1;
  padding: 5px;
}

label {
  font-weight: bold;
}

div.App-list {
  display: grid;
  grid-template-columns: 1fr;
  transition: transform 10s ease;
  column-gap: 50px;
  row-gap: 50px;
  padding-top: 90px;
}

div.App-list div.mov{
 position: relative;
  top: 70%;
  left: 5%;
  
}

div.mov {
  color: black;
  padding: 5px;
  border-radius: 15px;
  padding-bottom: 5px;
  
}

.mov img {
  border-radius: 15px;
}

.title {
  font-weight: bold;
}

.none {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

@media all and (min-width: 500px) {
  div.App-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 25px;
  }
}

@media all and (min-width: 768px) {
  div.App-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 25px;
  }
}

@media all and (min-width: 950px) {
  div.App-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 25px;
  }
}
